.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #000;
  transition: background-color 0.8s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: fit-content;
}

svg {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #545454;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);
}

@font-face {
  font-family: "Dashed";
  src: url("./Dashness-g0W6.ttf") format("truetype");
}

h1 {
  font-family: "Dashed";
  color: #ccc;
  font-size: 4rem;
}

p {
  color: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 40 40px;
  border-bottom: 2px solid white;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
